{% block headnavstylesheets %}
	<link rel="stylesheet" href="http://localhost:8000/bundles/easyadmin/app.fa78b25b.css">
	<link rel="stylesheet" href="{{ asset('css/navStyle.css') }}">

    {% if app.request.attributes.get('_route') != 'home' %}
		<style> nav { position: relative !important; background-color: #6998AB; } </style>
	{% endif %}

{% endblock %}

{% block headnavscripts %}

	{# TODO intento de modal #}
    {# <script>
        $(function () {
            var dialog, form;

            $("#dialog-form").dialog({
                autoOpen: false,
                height: 250,
                width: 250,
                modal: true,
                close: function () {}
            });

            $("#openLoginForm").button().on("click", function (ev) {
				ev.preventDefault();
                $("#dialog-form").dialog("open");
            });
        });
    </script> #}

	{# TODO intento modal 2 con estilos #}
	{# <script>
		$(function(){
			$("#loginBtn")[0].click(function(){
				$("#loginModal").css("display", "block");
			});
			
			$(".close").click(function(){
				$("#loginModal").css("display", "none");
			});
			
			$(window).click(function(event) {
				if (event.target == $("#loginModal")[0]) {
				$("#loginModal").css("display", "none");
				}
			});
		});
	</script>
	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.4);
			}

		.modal-content {
			background-color: #fefefe;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
			max-width: 400px;
			border-radius: 8px;
			position: relative;
			}

		.close {
			color: #aaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
			}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}

			/* Animation */
		.modal-content {
			animation: modalopen 0.3s;
		}

		@keyframes modalopen {
			from {opacity: 0}
			to {opacity: 1}
		}

	</style> #}
{% endblock %}


{% block nav %}
	<!-- MODAL LOGIN FORM -->
	{% block login_form %}
		{# <div id="modalLogin" class="modal" title="Iniciar sesión">
			<form method="post" action="{{ path('action-login') }}">
				<label for="username">Email:</label>
				<input type="text" id="username" name="_username" required>

				<label for="password">Password:</label>
				<input type="password" id="password" name="_password" required>

				<button type="submit">Login</button>
			</form>
		</div> #}
		{# Login de intento de modal 2 #}
		{# <div id="loginModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<h2>Login</h2>
				<form id="loginForm">
				<input type="text" placeholder="Username" required>
				<input type="password" placeholder="Password" required>
				<button type="submit">Login</button>
				</form>
			</div>
		</div> #}

	{% endblock %}

	<!-- MOBILE VERSIÓN -->
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<!-- NAV - START-->
	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href='{{ path('home') }}' class="logo m-0">Tour <span class="text-primary">.</span></a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li class="active"><a href='{{ path('home') }}'>Inicio</a></li>
					{# <li><a href="services.html">Servicios</a></li> #}
					{# <li><a href="about.html">Sobre nosotros</a></li> #}
					{# <li><a href="contact.html">Contactanos</a></li> #}
					<li><a href="{{ path('route-list') }}">Bucar rutas</a></li>
					{% if is_granted('ROLE_CLIENT') %}
						<li><a href="{{ path('my-reservation-list') }}"><i class="fa-solid fa-receipt"></i> Mis reservas</a></li>
					{% endif %}
					{% if is_granted('ROLE_GUIDE') %}
						<li><a href="{{ path('user-guide-calendar') }}"><i class="fa-regular fa-calendar-days"></i> Mis rutas</a></li>
					{% endif %}
					<li class="has-children">
						<a href="#">Usuario</a>
						{% if app.user %}
							<ul class="dropdown">
								<hr>
								<li><a href="#">sesión iniciada => user->getName()</a></li>
								<hr>
								<li><a href="elements.html">Ajustes</a></li>
								{% if is_granted('ROLE_ADMIN') %}
									<li><a href="{{ path('admin') }}">Panel de administrador</a></li>
								{% endif %}
								<li><a href="{{ path('action-logout') }}">Cerrar sesión</a></li>
							</ul>
						{% else %}
							<ul class="dropdown">
								{# <li><a id="openLoginForm" href="#iniciar_sesión">Iniciar sesión</a></li> #}
								{# <li><button id="loginBtn">Iniciar Sesión</button></li>
								<hr>
								<li><a href="#crear-cuenta">Crear cuenta</a></li> #}
								<li><a href="{{ path('form-login') }}">Acceder</a></li>
								{# <li class="has-children">
									<a href="#">Menu Two</a>
									<ul class="dropdown">
										<li><a href="#">Sub Menu One</a></li>
										<li><a href="#">Sub Menu Two</a></li>
										<li><a href="#">Sub Menu Three</a></li>
									</ul>
								</li> #}
							</ul>
						{% endif %}
					</li>
				</ul>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>
	<!-- NAV - END -->
{% endblock %}