{% block headnavstylesheets %}
	<link rel="stylesheet" href="{{ asset('css/navStyle.css') }}">
{% endblock %}

{% block headnavscripts %}

	{# TODO intento de modal #}
    {# <script>
        $(function () {
            var dialog, form;

            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 250,
                width: 250,
                modal: true,
                close: function () {}
            });

            $("#openLoginForm").button().on("click", function (ev) {
				ev.preventDefault();
                dialog.dialog("open");
            });
        });
    </script> #}
{% endblock %}


{% block nav %}
	<!-- LOGIN FORM -->
	{% block login_form %}
		<div id="dialog-form" title="Iniciar sesión">
			<form method="post" action="{{ path('action-login') }}">
				<label for="username">Email:</label>
				<input type="text" id="username" name="_username" required>

				<label for="password">Password:</label>
				<input type="password" id="password" name="_password" required>

				<button type="submit">Login</button>
			</form>
		</div>
	{% endblock %}

	<!-- MOBILE VERSIÓN -->
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<!-- NAV - START-->
	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href='{{ path('home') }}' class="logo m-0">Tour <span class="text-primary">.</span></a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li class="active"><a href='{{ path('home') }}'>Inicio</a></li>
					{# <li><a href="services.html">Servicios</a></li> #}
					<li><a href="about.html">Sobre nosotros</a></li>
					<li><a href="contact.html">Contactanos</a></li>
					<li class="has-children">
						<a href="#">Usuario</a>
						{% if app.user %}
							<ul class="dropdown">
								<hr>
								<li><a href="#">sesión iniciada => user->getName()</a></li>
								<hr>
								<li><a href="elements.html">Ajustes</a></li>
								{% if is_granted('ROLE_ADMIN') %}
									<li><a href="{{ path('admin') }}">Panel de administrador</a></li>
								{% endif %}
								<li><a href="{{ path('action-logout') }}">Cerrar sesión</a></li>
							</ul>
						{% else %}
							<ul class="dropdown">
								{# <li><a id="openLoginForm" href="#iniciar_sesión">Iniciar sesión</a></li> #}
								<li id="openLoginForm"><button>Iniciar Sesión</button></li>
								<hr>
								<li><a href="#crear-cuenta">Crear cuenta</a></li>
								{# <li class="has-children">
									<a href="#">Menu Two</a>
									<ul class="dropdown">
										<li><a href="#">Sub Menu One</a></li>
										<li><a href="#">Sub Menu Two</a></li>
										<li><a href="#">Sub Menu Three</a></li>
									</ul>
								</li> #}
							</ul>
						{% endif %}
					</li>
				</ul>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>
	<!-- NAV - END -->
{% endblock %}