{% block headnavstylesheets %}
	<link rel="stylesheet" href="http://localhost:8000/bundles/easyadmin/app.fa78b25b.css">
	<link rel="stylesheet" href="{{ asset('css/navStyle.css') }}">

    {# {% if 
		app.request.attributes.get('_route') != '' or
		app.request.attributes.get('_route') != '/' or
		app.request.attributes.get('_route') != 'home' or
		app.request.attributes.get('_route') != 'login' or
		app.request.attributes.get('_route') != 'register'
	%}
		<style> nav { position: relative !important; background-color: #6998AB; } </style>
	{% endif %} #}

{% endblock %}

{% block headnavscripts %}

	{# TODO intento de modal #}
    {# <script>
        $(function () {
            var dialog, form;

            $("#dialog-form").dialog({
                autoOpen: false,
                height: 250,
                width: 250,
                modal: true,
                close: function () {}
            });

            $("#openLoginForm").button().on("click", function (ev) {
				ev.preventDefault();
                $("#dialog-form").dialog("open");
            });
        });
    </script> #}

	{# TODO intento modal 2 con estilos #}
	{# <script>
		$(function(){
			$("#loginBtn")[0].click(function(){
				$("#loginModal").css("display", "block");
			});
			
			$(".close").click(function(){
				$("#loginModal").css("display", "none");
			});
			
			$(window).click(function(event) {
				if (event.target == $("#loginModal")[0]) {
				$("#loginModal").css("display", "none");
				}
			});
		});
	</script>
	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.4);
			}

		.modal-content {
			background-color: #fefefe;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 80%;
			max-width: 400px;
			border-radius: 8px;
			position: relative;
			}

		.close {
			color: #aaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
			}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}

			/* Animation */
		.modal-content {
			animation: modalopen 0.3s;
		}

		@keyframes modalopen {
			from {opacity: 0}
			to {opacity: 1}
		}

	</style> #}

	{# Sackbar - SCRIPT #}
	<script>
		$(function(){
			$('#searchRoutes').click(function(event) {
				console.log("caca1")
				event.preventDefault();  // Evita que el enlace realice su acción por defecto
				var enlaceOriginal = $(this).attr('href');

				// Muestra el snackbar
				//var snackbar = $("#snackbar");
				//snackbar.addClass("show");
				//setTimeout(function(){ snackbar.removeClass("show"); }, 3000);
				var snackbar = $("<div>");
				snackbar.attr("id", "snackbar");
				snackbar.text("Debes estar logeado para poder reservar una ruta..");
				$("body").append(snackbar);

				snackbar.addClass("show");
				setTimeout(function(){
					console.log("kakita2")
					snackbar.removeClass("show");
					window.location.href = enlaceOriginal;
				}, 3000);
			});  // Fin del evento click
		});  // Fin del evento ready
	</script>

	{# Sackbar - STYLES #}
	<style>
		#snackbar {
			visibility: hidden;
			min-width: 250px;
			margin-left: -125px;
			background-color: #333;
			color: #fff;
			text-align: center;
			border-radius: 2px;
			padding: 16px;
			position: fixed;
			z-index: 1;
			left: 50%;
			bottom: 30px;
			font-size: 17px;
		}

		#snackbar.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

		@-webkit-keyframes fadein {
			from {bottom: 0; opacity: 0;} 
			to {bottom: 30px; opacity: 1;}
		}

		@keyframes fadein {
			from {bottom: 0; opacity: 0;}
			to {bottom: 30px; opacity: 1;}
		}

		@-webkit-keyframes fadeout {
			from {bottom: 30px; opacity: 1;} 
			to {bottom: 0; opacity: 0;}
		}

		@keyframes fadeout {
			from {bottom: 30px; opacity: 1;}
			to {bottom: 0; opacity: 0;}
		}
	</style>
{% endblock %}


{% block nav %}
	<!-- MODAL LOGIN FORM -->
	{% block login_form %}
		{# <div id="modalLogin" class="modal" title="Iniciar sesión">
			<form method="post" action="{{ path('action-login') }}">
				<label for="username">Email:</label>
				<input type="text" id="username" name="_username" required>

				<label for="password">Password:</label>
				<input type="password" id="password" name="_password" required>

				<button type="submit">Login</button>
			</form>
		</div> #}
		{# Login de intento de modal 2 #}
		{# <div id="loginModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<h2>Login</h2>
				<form id="loginForm">
				<input type="text" placeholder="Username" required>
				<input type="password" placeholder="Password" required>
				<button type="submit">Login</button>
				</form>
			</div>
		</div> #}

	{% endblock %}

	<!-- MOBILE VERSIÓN -->
	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<!-- NAV - START-->
	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href='{{ path('home') }}' class="logo m-0">Tour <span class="text-primary">.</span></a>

				<ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li class="active"><a href='{{ path('home') }}'>Inicio</a></li>
					{# <li><a href="services.html">Servicios</a></li> #}
					{# <li><a href="about.html">Sobre nosotros</a></li> #}
					{# <li><a href="contact.html">Contactanos</a></li> #}
					<li><a href="{{ path('route-list') }}" id="searchRoutes">Bucar rutas</a></li>
					{% if app.user %}
						<li class="has-children">
							<a href="#">Bienvenido, {{ app.user.name }}</a>
							<ul class="dropdown">
								<hr>
								<li><a href="#">{{ app.user.email }}</a></li>
								<hr>
								{# <li><a href="elements.html">Ajustes</a></li> #}
								{# ROLE ADMIN #}
								{% if is_granted('ROLE_ADMIN') %}
									<li><a href="{{ path('admin') }}"><i class="fa-solid fa-screwdriver-wrench"></i> Panel de administrador</a></li>
								{% endif %}
								{# ROLE GUIDE #}
								{% if is_granted('ROLE_GUIDE') %}
									<li><a href="{{ path('user-guide-calendar') }}"><i class="fa-regular fa-calendar"></i> Mis tours</a></li>
									<li><a href="{{ path('report-list') }}"><i class="fa-solid fa-list-check"></i> Reportar</a></li>
								{% endif %}
								{# ROLE CLIENT #}
								{% if is_granted('ROLE_CLIENT') %}
									<li><a href="{{ path('my-reservation-list') }}"><i class="fa-solid fa-receipt"></i> Mis reservas</a></li>
								{% endif %}
								<hr>
								<li><a href="{{ path('action-logout') }}" style="color: red;"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</a></li>
							</ul>
						</li>
					{% else %}
							<li><a href="{{ path('form-login') }}">Acceder</a></li>
					{% endif %}
				</ul>

				<a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>

			</div>
		</div>
	</nav>
	<!-- NAV - END -->
{% endblock %}