{% extends 'views/main.html.twig' %}

{% block pagescripts %}
    {# <script src="vendor/jquery/jquery-3.2.1.min.js"></script> #}
    {# <script src="vendor/bootstrap/js/popper.js"></script> #}
    {# <script src="vendor/bootstrap/js/bootstrap.min.js"></script> #}
    <script src="{{ asset('login-src/vendor/select2/select2.min.js') }}"></script>
    {# <script src="{{ asset('login-src/vendor/tilt/tilt.jquery.min.js') }}"></script> #}

    <script src="{{ asset('js/loginScript.js') }}"></script>
{% endblock %}

{% block pagestylesheets %}
    <link rel="stylesheet" href="{{ asset('login-src/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('login-src/vendor/animate/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('login-src/vendor/css-hamburgers/hamburgers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('login-src/vendor/select2/select2.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/loginStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/util.css') }}">
    <style>
        nav {
            position: relative !important;
        }
    </style>
{% endblock %}

{% block title %}Crear cuenta{% endblock %}

{% block main %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt style="display: flex; align-items: center;">
                    <label for="file-upload" class="custom-file-upload">
                        <img id="preview" src="{{ asset('login-src/images/img-02.png') }}" alt="IMG" style="margin-bottom: 5em; border-radius: 100px;">
                    </label>
                    <input id="file-upload" type="file">
                </div>

                <form class="login100-form validate-form" method="post" action="{{ path('action-login') }}">
                    <span class="login100-form-title">
                        Crear cuenta
                    </span>

                    <label for="file-upload" class="custom-file-upload" id="imgmobile">
                        <img id="preview" src="{{ asset('login-src/images/img-02.png') }}" alt="IMG">
                    </label>

                    <div class="wrap-input100 validate-input" data-validate = "Debes introducir un email válido: tunombre@ejemplo.es">
                        <input class="input100" type="text" id="username" name="_username" placeholder="Nombre">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa-solid fa-font" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Debes introducir un email válido: tunombre@ejemplo.es">
                        <input class="input100" type="text" id="username" name="_username" placeholder="Apellidos">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa-solid fa-bold" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Debes introducir un email válido: tunombre@ejemplo.es">
                        <input class="input100" type="text" id="username" name="_username" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Este campo es obligatorio">
                        <input class="input100" type="password" id="password" name="_password" placeholder="Contraseña">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Este campo es obligatorio">
                        <input class="input100" type="password" id="password" name="_password" placeholder="Repetir contraseña">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Debes introducir un email válido: tunombre@ejemplo.es">
                        <label>Aceptar términos</label>
                        <input class="input25" type="checkbox" id="username" name="_username" placeholder="Email">
                        {# <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span> #}
                    </div>
                    
                    {# Error #}
                    <div style="visibility: hidden; text-align: center; color: red; font-weight: bold;">
                        Las credenciales no son válidas.
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn btn btn-primary">Crear</button>
                    </div>

                    {# Forgot password | olvidé contraseña #}
                    {# <div class="text-center p-t-12">
                        <span class="txt1">
                            Olvidaste tu
                        </span>
                        <a class="txt2" href="#">
                            Usuario / Contraseña?
                        </a>
                    </div> #}

                    <div class="text-center p-t-136" name="register">
                        <a class="txt2" href="{{ path('action-register') }}">
                            Crear cuenta
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}